			<!-- sidebar -->
			<!-- <div id="sidebar"> -->
				<div class="inner">
					<!-- logo -->
					<div id="logo">
						<a href="/"><img src="static/img/logo_red.svg" style="width: 50%; display:block; margin:auto;"alt=""></a>
					</div>
					<!-- menu -->
					<nav id="menu">
						<header>
							<h2 style="padding-bottom: 10px;">台語特色資源</h2>
						</header>
						<ul>
							<li class="phrase"><a href="/phrase">台語俗諺語</a></li>
							<li class="place-and-culture"><a href="/place-and-culture">台語地名與文化</a></li>
							<li class="sustainable-content"><a href="/sustainable-content">永續台語文本搜尋</a></li>
							<li class="celebrity"><a href="/celebrity">台語名人堂</a></li>
							<li class="resource-list"><a href="/resource-list">台語資源網站清單</a></li>
							<li class="relatives-calculator"><a href="/relatives-calculator">台語喊親戚</a></li>
							<li><a href="">職人台語（建置中）</a></li>
						</ul>
						<header>
							<h2 style="padding-top: 30px; padding-bottom: 10px;">資源網站</h2>
						</header>
						<ul>
							<li class="transcript"><a href="/transcript">台語逐字稿</a></li>
							<li class="recitation"><a href="/recitation">台語朗讀</a></li>
							<li><a href="" aria-disabled="true">換句話說（建置中）</a></li>
						</ul>
					</nav>
				</div>
			<!-- </div> -->